
@{
    ViewData["Title"] = "commentDisplay";
}

@using TagMe2.Models

@model TagMe2.Models.PostComment

@{
    ViewData["Title"] = "Home Page";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style>
    #container {
        position: relative;
        font-family: Arial;
    }

    /* Fake image */
      .fakeimg {
        width: 70%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        height: 500px;
        border: 0.5px solid #fceeee;
        border-radius: 8px;
    }

    /* Add a card effect for articles */
    .card {
        border-radius: 8px;
        background-color: #e8e8e8;
        padding: 20px;
        margin-top: 20px;
        width: 70%;
        height: auto;
        position: center;
    }

   

    

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    div > img {
        position: absolute;
        width: 100%;
        height: auto;
        border: 1px solid red;
    }

    h2 {
    }

    img.profile {
        display: inline-block;
        width: 25px;
        height: 25px;
        //padding-top: 7px;
        border: 1px solid blue;
    }

    /*
    #text-block {
        position: absolute;
        bottom: 20px;
        right: 20px;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
    }
        */


    ul, li{
        list-style: none;

    }

    ul.simple-nested li{
        margin-left: 3em; 

    }
    
    em{
        font-size: 1em;
    }

     .commentcard {
        background-color:#ffffff;
        border: 1px solid #999;
        padding: 1em;
        margin-bottom: 1em;
       
      
    }
     
    ul.simple-nested li ul{
        border-left: 1px solid #999;
        position: relative;



    }
    
    ul.simple-nested li ul::before{
        content:'';
        border-bottom: 1px solid #999;
        position: absolute;
        width:2em;
        top: 2em;
        align-content:flex-end;
    }
        

    span.nested-branch{
        border-bottom: 1px solid #999;
        position: absolute;
        width:1em;
        
    }

    commentbox{
        margin-bottom:1em;
        
    }
</style>








<div class="card">

    <!-- <h2>
        <a href="/profile">
            <img class="profile" src=Model.thePost.PostAuthor.UserProfile.ProfilePictureURL alt='img'>
        </a>
        Model.thePost.PostAuthor.FirstName Model.thePost.PostAuthor.LastName
    </h2>
    <p>
        <a href="/map">
            <span class="glyphicon glyphicon-map-marker"></span>
        </a>
        Model.thePost.Location.City, Model.thePost.Location.Country
    </p>
        -->
    
    <p>
        <img class="fakeimg" src=@Model.thePost.URL style="height:auto;">
    </p>
    <p>
        <a href="/like">
            <span class="glyphicon glyphicon-star-empty"></span>
        </a>
        @Model.thePost.Likes
    </p>
    <p> @Model.thePost.Caption</p>


    <p style="font-size:0.75em;"><a href="" data-toggle="collapse" data-target="#reply_post">Comment</a></p>
    <div id="reply_post" class="collapse">

        @using (Html.BeginForm("CommentOnPost", "comment", new { postID = Model.thePost.ID, parentID=Model.thePost.ID }))
        {
            <form>

                @Html.TextArea("theReply", null, new { @class = "form-control" })
                <input type="submit" value="Comment" style="margin-top:1em">

            </form>
        }


    </div>

</div>




<div class="card" style="overflow-y:auto; height:500px;">
    @foreach (var comment in Model.theComments)
    {
    <ul class="simple-nested">
        <li>
            <div class="commentcard">
                <p>author name if you want</p>
                <p>@comment.Text</p>
                <p style="font-size:0.75em;"><a href="" data-toggle="collapse" data-target="#@comment.ID">Reply</a></p>
                <div id="@comment.ID" class="collapse">
                    <!--  <textarea style="margin-bottom: 1em;" class="commentbox" rows="4" cols="50" name="comment" form="usrform" placeholder="reply to the comment"></textarea>

        -->
                    @using (Html.BeginForm("CommentOnPost", "comment", new { postID = Model.thePost.ID, parentID = comment.ID }))
                    {
                        <form>

                            @Html.TextArea("theReply", null, new { @class = "form-control" })
                            <input type="submit" value="Comment" style="margin-top:1em">

                        </form>
                    }
                </div>

            </div>
            @foreach (var commentChild in comment.ChildComments)
            {
            <ul>

                <li>
                    <div class="commentcard">
                        <p>author name if you want</p>
                        <p>@commentChild.Text</p>

                    </div>

                </li>


            </ul>
            }

        </li>


    </ul>
    }




</div>