@using TagIt.Models

@model List<TagIt.Models.Post>

@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">

    var scrollPosition = 0;

    $(document).ready(function () {

        $(window).scroll(function (event) {
            scrollPosition = $(window).scrollTop();
        });

    });

</script>

<script type="text/javascript">

    // It is important to place this JavaScript code after ScriptManager1
    var xPos, yPos;
    var prm = Sys.WebForms.PageRequestManager.getInstance();

    function BeginRequestHandler(sender, args) {
        console.log('BeginRequest');
    }

    function EndRequestHandler(sender, args) {
        $(window).scrollTop(scrollPosition);
    }

    prm.add_beginRequest(BeginRequestHandler);
    prm.add_endRequest(EndRequestHandler);

</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style>
    #container {
        position: relative;
        font-family: Arial;
    }

    /* Fake image */
    .fakeimg {
        width: 90%;
        padding: 10px;
    }

    /* Add a card effect for articles */
    .card {
        background-color: white;
        padding: 20px;
        margin-top: 20px;
        width: 60%;
        position: center;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    div > img {
        position: absolute;
        width: 100%;
        height: auto;
        border: 1px solid red;
    }

    h2 {
    }

    img.profile {
        display: inline-block;
        width: 25px;
        height: 25px;
        border: 1px solid blue;
    }

    /*
    #text-block {
        position: absolute;
        bottom: 20px;
        right: 20px;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
    }
        */
</style>





@foreach (var post in Model)
{

    <div class="card">

        <h2>
            <a href="/profile">
                <img class="profile" src=@post.PostAuthor.UserProfile.ProfilePictureURL alt='img'>
            </a>
            @post.PostAuthor.FirstName @post.PostAuthor.LastName
        </h2>
        <p>
            <a href="/map">
                <span class="glyphicon glyphicon-map-marker"></span>
            </a>
            @post.Location.City, @post.Location.Country
        </p>
        <a href='@Url.Action("Post", "Home", new { id = post.ID})'>
            <img class="fakeimg" src=@post.URL style="height:200px;">
        </a>
        <p>
            <a href="/like">
                <span class="glyphicon glyphicon-star-empty"></span>
            </a>
            @post.Likes

        
        </p>
        <p> @post.Caption</p>

    </div>
}


